<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="./jQury/jquery-3.7.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="./css/Style.css">
    <link rel="stylesheet" href="./css/css1/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />



    <script src="/js/js1/lazysizes.min.js"></script>

   
    <script src="./jQury/AddContact.js"></script>
    <link href="./jQury/bootstrap.min.css" rel="stylesheet" />
    <link href="./jQury/bootstrap2.min.css" rel="stylesheet" />

   

 

</head>
<body>

    

    @RenderBody()


    @* <script src="/js/js1/jquery.min.js"></script>
    <script src="/js/js1/bootstrap.min.js"></script>
    <script src="/js/js1/easing.min.js"></script>
    <script src="/js/js1/owl-carousel.min.js"></script>
    <script src="/js/js1/flickity.pkgd.min.js"></script>
    <script src="/js/js1/twitterFetcher_min.js"></script>
    <script src="/js/js1/jquery.newsTicker.min.js"></script>
    <script src="/js/js1/modernizr.min.js"></script>
    <script src="/js/js1/scripts.js"></script> *@


    
    
    
    
   
</body>
</html>
