<div class="container mt-5">
    <h1>Phone Book</h1>
    <button id="" class="btn btn-warning mb-3">LOGOUT</button>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="searchInput" placeholder="Search in phone book">
    </div>
    <button id="addNewContactBtn" class="btn btn-primary mb-3">Add New Contact</button>
    <table id="contactTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Numbers</th>
                <th>Emails</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Add Contact Modal -->
<div id="addContactModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addContactForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name"  placeholder="At least 5 characters" minlength="5" required>
                    </div>
                    <div id="phoneNumbersContainer" class="form-group">
                        <label for="phone">Phone Numbers</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control"  name="phoneNumbers[]" maxlength="10" pattern="^[1-9]\d{9}$" placeholder="Without 0 in start" required>
                            <div class="input-group-append">
                                <button type="button" style="margin:0" class="btn btn-success add-phone-btn">+</button>
                            </div>
                        </div>
                    </div>
                    <div id="emailsContainer" class="form-group">
                        <label for="email">Emails</label>
                        <div class="input-group mb-2">
                            <input type="email" class="form-control" name="emails[]" required>
                            <div class="input-group-append">
                                <button type="button" style="margin:0" class="btn btn-success add-email-btn">+</button>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Contact</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Update Contact Modal -->
<div id="updateContactModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="updateContactForm">
                <div class="modal-header">
                    <h5 class="modal-title">Update Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="updateId" name="updateId">

                    <div class="form-group">
                        <label for="updateName">Name</label>
                        <input type="text" class="form-control" id="updateName" name="updateName" required>
                    </div>

                    <div class="form-group">
                        <label>Phone Numbers</label>
                        <div id="updatePhoneNumbersContainer">
                           
                        </div>
                        <button type="button" class="btn btn-success add-phone-btn">+ Add Phone</button>
                    </div>

                    <div class="form-group">
                        <label>Emails</label>
                        <div id="updateEmailsContainer">
                            
                        </div>
                        <button type="button" class="btn btn-success add-email-btn">+ Add Email</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section myscript {
    <script src="./jQury/AddContact.js"></script>
}