@{
    ViewData["Title"] = "AccessDenied";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>

<p style="color:dimgrey">Unfortunately, you do not have access to this section</p>


@section myscript {
    <script></script>
}